<style>
/*div要素全体にリンクをつけるために必要な要素*/
.linkbox {
    position: relative;
}
.linkbox a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}
/* 見た目をわかりやすくするための設定*/
.linkbox {
    border: solid 2px #000000;
}
.linkbox a:hover{/* マウスオーバー時に色変更*/
    opacity: 0.1;
    background-color: #777777;
}
</style>
<p id="notice"><%= notice %></p>

<h1>Touring Routes</h1>

<div id="app">
  <h1>ルート一覧</h1>
  <ul>
    <div v-for="v in routes" class="linkbox" style="border: solid 1px; margin: 3px; border-radius: 1rem;">
      <h4 style="margin-left: 2rem;">{{v.touring_name}}</h4>
      <a v-bind:href="'/touring_routes/' + v.id"></a>
      <p style="margin-left: 2rem;">{{v.touring_desc}}</p>
    </div>
  </ul>
</div>
<br>
<br>

<%= link_to 'New Touring Route', new_touring_route_path %>
<script>
(async () => {
  new Vue({
    el: "#app",
    data: () => ({
      // Vueに返す値を準備
      routes: []
    }),
    async beforeMount() {
      // 画面の準備をする前に Axios で JSON を取得する
      const res = await axios.get("/touring_routes.json");
      // 取得した結果をthis.routes代入
      console.log(res);
      console.log(res.data);
      this.routes = res.data;
    }
  });
})();
</script>