<style>
body {
  background: url("/bgimage.jpg") no-repeat;
  background-size: cover;
}

</style>
<p id="notice"><%= notice %></p>

<h1>Touring リスト</h1>

<div id="app">
  <ul>
    <div v-for="v in routes" class="linkbox" style="border: solid 1px; margin: 3px; border-radius: 1rem;">
      <h3 class="list">{{v.touring_name}}</h3>
      <a v-bind:href="'/touring_routes/' + v.id"></a>
      <p class="list">{{v.touring_desc}}</p>
      <p class="list small">スタート: {{v.start_date}} ~ エンド: {{v.end_date}}</p>
    </div>
  </ul>
</div>
<br>
<br>

<%= link_to 'New Touring Route', new_touring_route_path %>

<script>
(async () => {
  new Vue({
    el: "#app",
    data: () => ({
      // Vueに返す値を準備
      routes: []
    }),
    async beforeMount() {
      // 画面の準備をする前に Axios で JSON を取得する
      const res = await axios.get("/touring_routes.json");
      // 取得した結果をthis.routes代入
      console.log(res);
      console.log(res.data);
      this.routes = res.data;
    }
  });
})();
</script>
