<h1>New Touring Route</h1>

<div class="touring_new">
  <%= render 'form', touring_route: @touring_route %>
  <div id="map_new" style=" width: 600px; height: 500px"></div>
</div>
<%= link_to 'Back', touring_routes_path %>

<script>
    function initMap() {

      // マップの初期化
        var map = new google.maps.Map(document.getElementById('map_new'), {
          zoom: 9,
          center: {lat: 33.31478181566308, lng: 130.50810970427096},
          styles:
                  [
                    {
                      "elementType": "geometry.fill",
                      "stylers": [
                        {
                          "saturation": -80
                        }
                      ]
                    }
                  ]
        });

      // ツーリングルートのオブジェクト定義
        let routes ={};
        // クリックイベントを追加
        map.addListener('click', function(e) {

        // 座標ラジオボタンの状態値でマーカーを区別
          let radio_btns = document.getElementsByName("RadioGroup");
          
              if(radio_btns[0].checked) {
                  deleteMarkers(routes.start);
                  let marker_start = getClickLatLng(e.latLng, map,"S"); // マーカーを設置
                  routes.start = marker_start;
                  radio_btns[1].checked = true ;
                  $('#touring_route_start_lat').val(e.latLng.lat());
                  $('#touring_route_start_lon').val(e.latLng.lng());
              }
              else if(radio_btns[1].checked) {
                  deleteMarkers(routes.end);
                  let marker_end = getClickLatLng(e.latLng, map,"E"); // マーカーを設置
                  routes.end = marker_end;
                  radio_btns[2].checked = true ;
                  $('#touring_route_end_lat').val(e.latLng.lat());
                  $('#touring_route_end_lon').val(e.latLng.lng());
             }
              else if(radio_btns[2].checked) {
                  deleteMarkers(routes.wp1);
                  let marker_wp1 = getClickLatLng(e.latLng, map,"1"); // マーカーを設置
                  routes.wp1 = marker_wp1;
                  radio_btns[3].checked = true ;
                  $('#touring_route_wp1_lat').val(e.latLng.lat());
                  $('#touring_route_wp1_lon').val(e.latLng.lng());
             }
              else if(radio_btns[3].checked) {
                  deleteMarkers(routes.wp2);
                  let marker_wp2 = getClickLatLng(e.latLng, map,"2"); // マーカーを設置
                  routes.wp2 = marker_wp2;
                  radio_btns[4].checked = true ;
                  $('#touring_route_wp2_lat').val(e.latLng.lat());
                  $('#touring_route_wp2_lon').val(e.latLng.lng());
             }
              else if(radio_btns[4].checked) {
                  deleteMarkers(routes.wp3);
                  let marker_wp3 = getClickLatLng(e.latLng, map,"3"); // マーカーを設置
                  routes.wp3 = marker_wp3;
                  radio_btns[0].checked = true ;
                  $('#touring_route_wp3_lat').val(e.latLng.lat());
                  $('#touring_route_wp3_lon').val(e.latLng.lng());
              }
              else{
                  console.log(i,"check_btn error");
              }
      });
    }

    function getClickLatLng(lat_lng, map,char) {
      // マーカーを設置
      var marker = new google.maps.Marker({
        position: lat_lng,
        map: map,
         label: {
       text: char,         //ラベル文字
       color: '#fff',          //ラベル文字の色
       fontFamily: 'sans-serif',  //フォント 
       fontWeight: 'bold',        //フォントの太さ 
       fontSize: '14px'           //フォントのサイズ 
        } 
      });
      return marker ;
      座標の中心をずらす
      map.panTo(lat_lng);
    }

    function deleteMarkers(marker_d) {
		  if(marker_d != null){
		    marker_d.setMap(null);
		  }
		  marker_d = null;
	}

  </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>
