/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap&subset=japanese');
html{
	font-size: 62.5%; /* 16px X 62.5% = 10PX */
}
body{
	/* color:#333; */
	/* font-family: "Roboto","Noto Sans Jp",sans-serif; */
	font-size: 1.6rem;
	font-feature-settings: "palt" 1;
	letter-spacing: 0.02rem;
	line-height:1.85;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   margin: 0px;
  background-image: url("/rider.jpg");
  /* background-image: url("/bgimage.jpg"); */
  background-size: cover;
}
main{
margin: 100px 40px 0 40px;
}
h1{
  font-size: 2.4rem;
}
p{
    font-size: 1.6rem;
}
ul{
  list-style: none;
  padding-inline-start: 0;
}
label{
  padding-right: 10px;
}
input{
  margin: 0 10px;
}
.none{
  display: none;
}
.flex{
  display:flex;
}
.form{
  box-sizing: border-box;
}
.field{
  margin-top: 1.2rem;
}

 header{
  height: 80px;
  width: 100%;
  background-color:#C0C0C0;
  position: fixed;
  padding: 1px;
  top: 0;
  z-index: 99;
 }

header p{
  line-height: 80px;
  float: left;
  font-size: 40px;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 0px;
}

header nav{
  float:right;
  margin-right: 100px;
}

header li{
  float: right;
  margin-right: 40px;
  margin-top: 10px;
  list-style: none;
}

header li :hover{
  background-color:rgba(192,192, 192, 1.0);
}