/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  margin: 0px;
}

 header{
  height: 80px;
  width: 100%;
  background-color:#C0C0C0;
  position: fixed;
  padding: 1px;
 }

header p{
  line-height: 25px;
  float: left;
  font-size: 30px;
  margin-left: 50px;
}

header nav{
  float:right;
  margin-right: 100px;
}

header li{
  float: right;
  margin-right: 40px;
  margin-top: 10px;
  list-style: none;
}

header li:active{
  background-color:rgba(192,192, 192, 1.0);
  transition: all 1s;
  box-shadow: none;
}