// Place all the styles related to the touring_routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contents{
  padding-top: 100px;
  margin:0 auto;
.touring_route_id_form{
  display: none;
}